.App {
  text-align: center;
}

.App-header {
  font: 25px "Century Gothic", Futura, sans-serif;
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
}

.board {
	width: 12rem;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #000000;
  padding: 0;
  margin-bottom: 20px;
}

.board li {
	list-style-type: none;
	width: 4rem;
	height: 4rem;
	border: 1px solid #000000;
	box-sizing: border-box;
}

.tile-button {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  cursor: pointer;
}

.tile-button:disabled {
  color: #000000;
  background-color: #cccccc;
  cursor: default;
  border-style: dotted;
}

button.tile-button[data-symbol-color="X"] {
  color: red;
}